@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;

    --background: 0 0% 100%;
    --foreground: 0 100% 50%;

    --card: 0 0% 100%;
    --card-foreground: 0 100% 50%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 100% 50%;

    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 100% 50%;

    --muted: 0 0% 100%;
    --muted-foreground: 0 100% 50%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 100% 50%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 100% 50%;
    --input: 0 100% 50%;
    --ring: 0 100% 50%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 0 100% 50%;

    --card: 0 0% 100%;
    --card-foreground: 0 100% 50%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 100% 50%;

    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 100% 50%;

    --muted: 0 0% 100%;
    --muted-foreground: 0 100% 50%;

    --accent: 0 0% 100%;
    --accent-foreground: 0 100% 50%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 100% 50%;
    --input: 0 100% 50%;
    --ring: 0 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    @apply text-foreground;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    line-height: 1.4;
  }
}
